<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="78AC59E0-06F4-48C4-83D7-DA14B9F7696F"
    Name="DelAfterReboot"
    Version="3.0.0"
    Manufacturer="Drygval Artyom"
    UpgradeCode="3aa0f3ee-e4a1-4030-b0b0-0245e4aedb57"
    Language="1033">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"/>

    <MajorUpgrade
      AllowDowngrades="no"
      DowngradeErrorMessage="Newer version is already installed."
      Schedule="afterInstallInitialize"/>

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high"/>

    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <WixVariable Id="WixUILicenseRtf" Value="INSTALLER\license.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="INSTALLER\banner.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="INSTALLER\banner.bmp"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DelAfterReboot-X64">

          <!-- EXE -->
          <Component Id="DelExe" Guid="570d7ff7-4e1c-40f8-8ac8-b9961d4ffb62" Win64="yes">
            <File Id="DelExe" Source="INSTALLER\del-x64.exe" KeyPath="yes"/>
          </Component>

          <!-- Install path in registry -->
          <Component Id="RegAndEnv" Guid="fde741b4-562b-457f-82b0-65328adbbba6" Win64="yes">
            <RegistryKey Root="HKLM" Key="Software\DelAfterReboot">
              <RegistryValue
                Name="InstallPath"
                Type="string"
                Value="[INSTALLFOLDER]"
                KeyPath="yes"/>
            </RegistryKey>
            <Environment
              Id="AddToPath"
              Name="PATH"
              Value="[INSTALLFOLDER]"
              Permanent="no"
              Part="last"
              Action="set"
              System="yes"/>
          </Component>

          <!-- Context menu -->
          <Component Id="ContextMenu" Guid="c6c75802-19d7-4e1f-8bd2-eb409e94e320" Win64="yes">
            <RegistryKey
              Root="HKLM"
              Key="Software\Classes\Directory\shell\DelAfterReboot">
              <RegistryValue Type="string" Value="DelAfterReboot" KeyPath="yes"/>
              <RegistryValue Name="HasLUAShield" Type="string" Value=""/>
              <RegistryValue Name="Icon" Type="expandable" Value="[INSTALLFOLDER]del-x64.exe,0"/>
            </RegistryKey>

            <RegistryKey
              Root="HKLM"
              Key="Software\Classes\Directory\shell\DelAfterReboot\command">
              <RegistryValue
                Type="expandable"
                Value='"[INSTALLFOLDER]del-x64.exe" "%1"'/>
            </RegistryKey>

          </Component>

        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="DelAfterReboot" Level="1">
      <ComponentRef Id="DelExe"/>
      <ComponentRef Id="RegAndEnv"/>
      <ComponentRef Id="ContextMenu"/>
    </Feature>

  </Product>
</Wix>