<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="66B036B4-485C-4551-A0CF-ACD354BC5640"
    Name="DelAfterReboot"
    Version="2.0.0"
    Manufacturer="Drygval Artyom"
    UpgradeCode="3aa0f3ee-e4a1-4030-b0b0-0245e4aedb57"
    Language="1033">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="arm64"/>

    <MajorUpgrade
      AllowDowngrades="no"
      DowngradeErrorMessage="Newer version is already installed."
      Schedule="afterInstallInitialize"/>

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high"/>

    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <WixVariable Id="WixUILicenseRtf" Value="INSTALLER\license.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="INSTALLER\banner.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="INSTALLER\banner.bmp"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DelAfterReboot">

          <!-- EXE -->
          <Component Id="DelExe" Guid="0a642160-fa8a-44e8-9028-8d09588d9a68" Win64="yes">
            <File Id="DelExe" Source="INSTALLER\del.exe\del.exe" KeyPath="yes" />
          </Component>

          <!-- Install path in registry -->
          <Component Id="RegAndEnv" Guid="a036ae93-6b37-4f5f-8c6b-3b33224a5260" Win64="yes">
            <RegistryKey Root="HKLM" Key="Software\DelAfterReboot">
              <RegistryValue
                Name="InstallPath"
                Type="string"
                Value="[INSTALLFOLDER]"
                KeyPath="yes"/>
            </RegistryKey>
          </Component>

          <!-- Context menu -->
          <Component Id="ContextMenu" Guid="5581de34-b6e0-4da6-be1b-0d954f7b9ff3" Win64="yes">

            <RegistryKey
              Root="HKLM"
              Key="Software\Classes\Directory\shell\DelAfterReboot">
              <RegistryValue Type="string" Value="DelAfterReboot" KeyPath="yes"/>
              <RegistryValue Name="HasLUAShield" Type="string" Value=""/>
              <RegistryValue Name="Icon" Type="expandable" Value="[INSTALLFOLDER]del.exe,0"/>
            </RegistryKey>

            <RegistryKey
              Root="HKLM"
              Key="Software\Classes\Directory\shell\DelAfterReboot\command">
              <RegistryValue
				Type="expandable"
				Value='"[INSTALLFOLDER]del.exe" "%1"'/>
            </RegistryKey>

          </Component>

        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="DelAfterReboot" Level="1">
      <ComponentRef Id="DelExe"/>
      <ComponentRef Id="RegAndEnv"/>
      <ComponentRef Id="ContextMenu"/>
    </Feature>

  </Product>
</Wix>
